# 文件结构
# image_path
#  - board
#     - [intrinsic.json] # 可选:提供的内参初始值
#     - cam*
#  - empty
#     - cam*
#  - pole
#     - [extrinsic.json] # 可选:提供的外参初始值
#     - cam*

seed: 3407 # 3407 null

max_process: 100
refine_mode: 'process' # thread process distributed
rotation_representation: 'vector' # matrix vector quaternion

cam_num: 24
fast_blob: True
vis_num: 30
vis_video: False

# board:
#   type: charucoboard
#   height: 4
#   width: 5
#   square_length: 0.2
#   marker_length: 0.15

board:
  type: checkerboard
  height: 8
  width: 11

pole: 
  color: "red"
  length_unit: "mm"
  d1: 500 # 250
  d2: 1000 # 510

image_path: "imageCollect/qu_gun_qiu_1217"

# https://imagecolorpicker.com/ 使用该网站确认 minThreshold
maskBlobParam:
  minThreshold: 10
  minAreaRatio: 1.0e-7
  maxAreaRatio: 1.0e-2
  expandSize: 10

poleBlobParam:
  minThreshold: 20
  minAreaRatio: 1.0e-6
  maxAreaRatio: 1.0e-3
  minCircularity: 0.1
  minConvexity: 0.1
  minInertiaRatio: 0.1
  lineAngle: 2

wandBlobParam:
  minThreshold: 20
  minAreaRatio: 1.0e-6
  maxAreaRatio: 1.0e-3
  minCircularity: 0.1
  minConvexity: 0.1
  minInertiaRatio: 0.1

bundleAdjustmentWeights:
  line_weight: 10.0 # e+1
  length_weight: 20.0 # e+1
  reproj_weight: 1.0
  quaternion_weight: 1.0
  orthogonal_weight: 10.0

worldCoordParam: 
  # rescale 仅仅适用于 type 为 wand 与 labelme
  rescale: True # 捆绑调整后是否进行缩放以更好地对齐世界坐标系
  # type: wand
  # mode: mcp # dbscan sort mcp
  # color: "red"
  # # 角B 是直角
  # # AB 为短边
  # # BC 为长边
  # # AC 为斜边
  # WandDefinition:
  #   - 0.45 
  #   - 0.6
  #   - 0.75
  # WandPointCoord:
  #   - [ -0.45,    0,  0.9]
  #   - [ 0 ,   0,    0.9]
  #   - [0,    -0.6,  0.9]
  # 乒乓球桌子高 0.76m
  # L型尺高 0.14m = 14cm
  type: labelme
  mode: norm # norm enhance
  min_vis_num: 5 # 最少应该有几个相机能看到角点 数量少于阈值的角点将会被抛弃
  PointCoordinates:  # 请注意遵循右手系
  #   # 顺序严格对应 图像中点击的至少四个点
  #   # [x,y,z]
    # - [0.7625,1.37,0.76]
    # - [-0.7625,1.37,0.76]
    # - [-0.7625,-1.37,0.76]
    # - [0.7625,-1.37,0.76]
    - [0.7, 5.0, 0.0]
    - [5.7, 5.0, 0.0]
    - [10.7, 5.0, 0.0]
    - [15.7, 5.0, 0.0]
    - [20.7, 5.0, 0.0]
    - [25.7, 5.0, 0.0]
    - [30.7, 5.0, 0.0]
    - [35.7, 5.0, 0.0]
    - [40.7, 5.0, 0.0]
    - [45.7, 5.0, 0.0]
    - [50.7, 5.0, 0.0]
    - [55.7, 5.0, 0.0]
    - [60.7, 5.0, 0.0]
    - [65.7, 5.0, 0.0]
    - [70.7, 5.0, 0.0]
    - [75.7, 5.0, 0.0]
    - [80.7, 5.0, 0.0]
    - [85.7, 5.0, 0.0]
    - [90.7, 5.0, 0.0]
    - [0.7, 10.0, 0.0]
    - [5.7, 10.0, 0.0]
    - [10.7, 10.0, 0.0]
    - [15.7, 10.0, 0.0]
    - [20.7, 10.0, 0.0]
    - [25.7, 10.0, 0.0]
    - [30.7, 10.0, 0.0]
    - [35.7, 10.0, 0.0]
    - [40.7, 10.0, 0.0]
    - [45.7, 10.0, 0.0]
    - [50.7, 10.0, 0.0]
    - [55.7, 10.0, 0.0]
    - [60.7, 10.0, 0.0]
    - [65.7, 10.0, 0.0]
    - [70.7, 10.0, 0.0]
    - [75.7, 10.0, 0.0]
    - [80.7, 10.0, 0.0]
    - [85.7, 10.0, 0.0]
    - [90.7, 10.0, 0.0]
    - [0.7, 15.0, 0.0]
    - [5.7, 15.0, 0.0]
    - [10.7, 15.0, 0.0]
    - [15.7, 15.0, 0.0]
    - [20.7, 15.0, 0.0]
    - [25.7, 15.0, 0.0]
    - [30.7, 15.0, 0.0]
    - [35.7, 15.0, 0.0]
    - [40.7, 15.0, 0.0]
    - [45.7, 15.0, 0.0]
    - [50.7, 15.0, 0.0]
    - [55.7, 15.0, 0.0]
    - [60.7, 15.0, 0.0]
    - [65.7, 15.0, 0.0]
    - [70.7, 15.0, 0.0]
    - [75.7, 15.0, 0.0]
    - [80.7, 15.0, 0.0]
    - [85.7, 15.0, 0.0]
    - [90.7, 15.0, 0.0]
    - [0.7, 20.0, 0.0]
    - [5.7, 20.0, 0.0]
    - [10.7, 20.0, 0.0]
    - [15.7, 20.0, 0.0]
    - [20.7, 20.0, 0.0]
    - [25.7, 20.0, 0.0]
    - [30.7, 20.0, 0.0]
    - [35.7, 20.0, 0.0]
    - [40.7, 20.0, 0.0]
    - [45.7, 20.0, 0.0]
    - [50.7, 20.0, 0.0]
    - [55.7, 20.0, 0.0]
    - [60.7, 20.0, 0.0]
    - [65.7, 20.0, 0.0]
    - [70.7, 20.0, 0.0]
    - [75.7, 20.0, 0.0]
    - [80.7, 20.0, 0.0]
    - [85.7, 20.0, 0.0]
    - [90.7, 20.0, 0.0]
    - [0.7, 25.0, 0.0]
    - [5.7, 25.0, 0.0]
    - [10.7, 25.0, 0.0]
    - [15.7, 25.0, 0.0]
    - [20.7, 25.0, 0.0]
    - [25.7, 25.0, 0.0]
    - [30.7, 25.0, 0.0]
    - [35.7, 25.0, 0.0]
    - [40.7, 25.0, 0.0]
    - [45.7, 25.0, 0.0]
    - [50.7, 25.0, 0.0]
    - [55.7, 25.0, 0.0]
    - [60.7, 25.0, 0.0]
    - [65.7, 25.0, 0.0]
    - [70.7, 25.0, 0.0]
    - [75.7, 25.0, 0.0]
    - [80.7, 25.0, 0.0]
    - [85.7, 25.0, 0.0]
    - [90.7, 25.0, 0.0]
    - [0.7, 30.0, 0.0]
    - [5.7, 30.0, 0.0]
    - [10.7, 30.0, 0.0]
    - [15.7, 30.0, 0.0]
    - [20.7, 30.0, 0.0]
    - [25.7, 30.0, 0.0]
    - [30.7, 30.0, 0.0]
    - [35.7, 30.0, 0.0]
    - [40.7, 30.0, 0.0]
    - [45.7, 30.0, 0.0]
    - [50.7, 30.0, 0.0]
    - [55.7, 30.0, 0.0]
    - [60.7, 30.0, 0.0]
    - [65.7, 30.0, 0.0]
    - [70.7, 30.0, 0.0]
    - [75.7, 30.0, 0.0]
    - [80.7, 30.0, 0.0]
    - [85.7, 30.0, 0.0]
    - [90.7, 30.0, 0.0]
    - [0.7, 35.0, 0.0]
    - [5.7, 35.0, 0.0]
    - [10.7, 35.0, 0.0]
    - [15.7, 35.0, 0.0]
    - [20.7, 35.0, 0.0]
    - [25.7, 35.0, 0.0]
    - [30.7, 35.0, 0.0]
    - [35.7, 35.0, 0.0]
    - [40.7, 35.0, 0.0]
    - [45.7, 35.0, 0.0]
    - [50.7, 35.0, 0.0]
    - [55.7, 35.0, 0.0]
    - [60.7, 35.0, 0.0]
    - [65.7, 35.0, 0.0]
    - [70.7, 35.0, 0.0]
    - [75.7, 35.0, 0.0]
    - [80.7, 35.0, 0.0]
    - [85.7, 35.0, 0.0]
    - [90.7, 35.0, 0.0]
    - [0.7, 40.0, 0.0]
    - [5.7, 40.0, 0.0]
    - [10.7, 40.0, 0.0]
    - [15.7, 40.0, 0.0]
    - [20.7, 40.0, 0.0]
    - [25.7, 40.0, 0.0]
    - [30.7, 40.0, 0.0]
    - [35.7, 40.0, 0.0]
    - [40.7, 40.0, 0.0]
    - [45.7, 40.0, 0.0]
    - [50.7, 40.0, 0.0]
    - [55.7, 40.0, 0.0]
    - [60.7, 40.0, 0.0]
    - [65.7, 40.0, 0.0]
    - [70.7, 40.0, 0.0]
    - [75.7, 40.0, 0.0]
    - [80.7, 40.0, 0.0]
    - [85.7, 40.0, 0.0]
    - [90.7, 40.0, 0.0]
    - [0.7, 45.0, 0.0]
    - [5.7, 45.0, 0.0]
    - [10.7, 45.0, 0.0]
    - [15.7, 45.0, 0.0]
    - [20.7, 45.0, 0.0]
    - [25.7, 45.0, 0.0]
    - [30.7, 45.0, 0.0]
    - [35.7, 45.0, 0.0]
    - [40.7, 45.0, 0.0]
    - [45.7, 45.0, 0.0]
    - [50.7, 45.0, 0.0]
    - [55.7, 45.0, 0.0]
    - [60.7, 45.0, 0.0]
    - [65.7, 45.0, 0.0]
    - [70.7, 45.0, 0.0]
    - [75.7, 45.0, 0.0]
    - [80.7, 45.0, 0.0]
    - [85.7, 45.0, 0.0]
    - [90.7, 45.0, 0.0]
    - [0.7, 50.0, 0.0]
    - [5.7, 50.0, 0.0]
    - [10.7, 50.0, 0.0]
    - [15.7, 50.0, 0.0]
    - [20.7, 50.0, 0.0]
    - [25.7, 50.0, 0.0]
    - [30.7, 50.0, 0.0]
    - [35.7, 50.0, 0.0]
    - [40.7, 50.0, 0.0]
    - [45.7, 50.0, 0.0]
    - [50.7, 50.0, 0.0]
    - [55.7, 50.0, 0.0]
    - [60.7, 50.0, 0.0]
    - [65.7, 50.0, 0.0]
    - [70.7, 50.0, 0.0]
    - [75.7, 50.0, 0.0]
    - [80.7, 50.0, 0.0]
    - [85.7, 50.0, 0.0]
    - [90.7, 50.0, 0.0]

convexHull:
  # length width height 采样点 范围,单位m
  # sample 点之间的间隔,单位m -> 控制采样点的数量
  # min_vis 最好的共视相机数量阈值
  length: [-100,100]
  width: [-100,100]
  height: [0,20]
  sample: 0.5
  min_vis: 5